In [22]:
import pandas as pd
import numpy as np

In [23]:
CCDdata = pd.read_sas('/Users/rileylatham/Downloads/Independent_Study/Data_Pool/Common Core data/sdf97d1a.sas7bdat',
                     encoding='unicode_escape')

In [24]:
col_chg = {'Z32':'TotalSalaries', 'Z34':'TotalEmployeeBenefits'}

CCDdata = CCDdata.rename(columns=col_chg)

CCDdata = CCDdata[['LEAID', 'CENSUSID', 'FIPST', 'FIPSCO', 'CMSA', 'STNAME', 'STABBR', 'SCHLEV', 'AGCHRT',
                  'TOTALREV', 'TFEDREV', 'TSTREV', 'TLOCREV', 'TOTALEXP', 'TCURELSC', 'TCURINST', 
                  'TCURSSVC', 'TCUROTH', 'TNONELSE', 'TCAPOUT', 'TotalSalaries', 'TotalEmployeeBenefits']]

KeyError: "['AGCHRT'] not in index"

In [15]:
SASSdata = pd.read_csv('/Users/rileylatham/Downloads/Independent_Study/Data_Pool/SASS data/Clean_SASS.csv')

In [16]:
def str_to_int(data):
    for col in data:
        j=0
        for i in data[col]:
            if str(i).isdigit():
                data.at[j,col] = int(i)
                j+=1
            else:
                pass
                j+=1
    return data

In [17]:
str_to_int = str_to_int(CCDdata)
str_to_int = str_to_int.dropna(axis=0)

In [18]:
def LEAID_merge(SASS, CCD):
    j=186
    for val in CCD['LEAID']:
        CCD.at[j, 'LEAID'] = str(val)
        j+=1
    data = CCD[CCD['LEAID'].isin(SASS['CCDIDLEA'])]
    return data

In [19]:
matched_data = LEAID_merge(SASSdata, str_to_int).dropna(axis=0)

In [20]:
matched_data.to_csv(r'/Users/rileylatham/Downloads/Independent_Study/Data_Pool/Common Core data/Clean_CCD97.csv',
                    header=True, index=False)

In [21]:
matched_data

,LEAID,CENSUSID,FIPST,FIPSCO,CMSA,STNAME,STABBR,SCHLEV,AGCHRT,TOTALREV,...,TLOCREV,TOTALEXP,TCURELSC,TCURINST,TCURSSVC,TCUROTH,TNONELSE,TCAPOUT,TotalSalaries,TotalEmployeeBenefits
200,100600,1500100100000,1,1,5240,ALABAMA,AL,3,N,40814000.0,...,9330000.0,46454000.0,36579000.0,22020000.0,12150000.0,2409000.0,942000.0,7206000.0,24452000.0,6340000.0
202,100630,1500300100000,1,5,0,ALABAMA,AL,3,N,11194000.0,...,1677000.0,11522000.0,10001000.0,6145000.0,3006000.0,850000.0,346000.0,1040000.0,6454000.0,1738000.0
203,100660,1500300200000,1,5,0,ALABAMA,AL,3,N,17583000.0,...,5441000.0,17613000.0,14984000.0,9603000.0,4292000.0,1089000.0,318000.0,2300000.0,9560000.0,2502000.0
204,100690,1500400100000,1,7,0,ALABAMA,AL,3,N,19421000.0,...,3022000.0,19277000.0,16745000.0,10536000.0,4918000.0,1291000.0,524000.0,1861000.0,11041000.0,2895000.0
207,100750,1500600100000,1,11,0,ALABAMA,AL,3,N,10523000.0,...,1225000.0,10241000.0,9768000.0,5442000.0,3422000.0,904000.0,84000.0,389000.0,6154000.0,1697000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15343,5602760,50501480100000,55,27,0,WISCONSIN,WI,3,N,8174000.0,...,2985000.0,7269000.0,6465000.0,4047000.0,2198000.0,220000.0,14000.0,358000.0,3679000.0,1325000.0
15344,5604500,50501502200000,55,29,0,WISCONSIN,WI,3,N,7142000.0,...,6493000.0,6907000.0,6432000.0,4147000.0,2086000.0,199000.0,50000.0,372000.0,3829000.0,1549000.0
15345,5604260,50501503900000,55,29,0,WISCONSIN,WI,3,N,6325000.0,...,5442000.0,5911000.0,5465000.0,3375000.0,1918000.0,172000.0,0.0,230000.0,3193000.0,1211000.0
15346,5605820,50501504700000,55,29,0,WISCONSIN,WI,3,N,1068000.0,...,954000.0,1014000.0,949000.0,632000.0,317000.0,0.0,0.0,24000.0,599000.0,199000.0
15348,5604830,50501560100000,55,29,0,WISCONSIN,WI,3,N,11028000.0,...,4606000.0,10950000.0,10425000.0,6742000.0,3299000.0,384000.0,5000.0,148000.0,6585000.0,2423000.0